@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }


html{
  overflow: scroll;
  background: white;
  color:black;
}
@font-face {
  font-family: "font-onsite";
  src: url('/fonts/OnsiteStandardTRIAL-Regular-BF64b60bd6980ca.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

}
body {
  font-family: "font-onsite", sans-serif;
}
/* Base styling (mobile) */
h1 {
  font-size: 1.5rem; /* 24px (text-2xl) */
  line-height: 1.25; /* leading-tight */
  font-weight: 500;  /* font-[500] */
  letter-spacing: -2px;
  
}

/* Tablet (sm breakpoint) */
@media (min-width: 640px) {
  h1 {
    font-size: 35px;   /* text-[35px] */
    line-height: 38px; /* leading-[38px] */
    font-weight: 500;  /* font-[500] */
    letter-spacing: -2px; /* tracking-[-2px] */
  }
}

/* Laptop (md breakpoint) */
@media (min-width: 768px) {
  h1 {
    font-size: 2.25rem; /* 36px (text-4xl) */
    line-height: 1.5;   /* leading-normal */
  }
}

/* Large laptop/Monitor (lg breakpoint) */
@media (min-width: 1000px) {
  h1 {
    font-size: 60px;   /* text-[65px] */
    line-height: 60px; /* leading-[62px] */
    letter-spacing: -4px;
  }
  h2{
    font-size: 1.8rem; /* 96px (text-9xl) */
    line-height: 1.25; /* leading-tight */
  }
  h3{
    font-size: 1rem; /* 96px (text-9xl) */
    line-height: 1.25; /* leading-tight */
  
  }
  p{
    font-size: 1rem; /* 96px (text-9xl) */
    line-height: 1.25; /* leading-tight */
  }
}



/* Ultra-wide monitor (2xl breakpoint) */
@media (min-width: 2000px) {
  h1 {
    font-size: 6rem; /* 96px (text-9xl) */
    line-height: 1.25; /* leading-tight */
  }
  h2{
    font-size: 3.5rem; /* 96px (text-9xl) */
    line-height: 1.25; /* leading-tight */
    
  }
  h3{
    font-size: 2rem; /* 96px (text-9xl) */
    line-height: 1.25; /* leading-tight */
      /* font-[500] */
  }
  p{
    font-size: 1.5rem; /* 96px (text-9xl) */
    line-height: 1.25; /* leading-tight */
  }
}
